:root {
    --bezier: cubic-bezier(0.25, 0.1, 0.25, 1);
    --cellSize: 94px;
    --cellSpacing: 16px;
    --maxPageWidth: 1860px;
    --shadow-angle: 1px 2px 3px 1px #5d6b8433;
    --shadow-close: 0px 3px 5px 3px #5d6b8433;
    --shadow-mid: 0px 7px 10px 4px #5d6b844d;
    --shadow-hover: 0px 12px 16px 8px #5d6b844d;
    --shadow-far: 0px 20px 24px 14px #5d6b843d;
    --blue-5: #0074e0;
    --blue-3: #054a91;
    --denim-blue: #002b50;
    --green-1: #15c8d1;
    --green-2: #17d7d8;
    --green-3: #18e9da;
    --green-4: #17f1d8;
    --green-5: #3cf7dc;
    --green-6: #4dffe1;
    --green-7: #83ffe7;
    --green-8: #a4ffee;
    --grey-3: #5d6b84;
    --grey-5: #bac9de;
    --grey-7: #f0f5fc;
    --grey-9: #f9fbff;
    --pink-1: #ff7690;
    --pink-2: #ff8aa6;
    --pink-3: #ff99b1;
    --pink-4: #ffa4ba;
    --pink-5: #ffa9be;
    --pink-6: #ffaec5;
    --pink-7: #ffc2d6;
    --pink-8: #ffc9dd;
    --poki-blue: #009cff;
    --pure-white: #fff;
    --purple-1: #c977e8;
    --purple-2: #d490f2;
    --purple-3: #da9ef3;
    --purple-4: #dca7f2;
    --purple-5: #e0aef5;
    --purple-6: #e1b5f7;
    --purple-7: #eac0fc;
    --purple-8: #ebccff;
    --yellow-1: #ff9e00;
    --yellow-2: #ffaf00;
    --yellow-3: #ffc500;
    --yellow-4: #ffd100;
    --yellow-5: #ffdc00;
    --yellow-6: #ffe200;
    --yellow-7: #fbe756;
    --yellow-8: #ffed85;
}

html,
body,
canvas,
div,
iframe {
    margin: 0;
    padding: 0;
}

body.isFullScreen {
    overflow: hidden;
}
body {
    min-width: 314px;
    --bodyBackground: var(--green-7)
        url(https://a.poki-cdn.com/images/bg-diamante.svg);
    background: var(--bodyBackground);
    background-attachment: fixed;
    color: var(--denim-blue);
    font: 400 16px/24px var(--fontBody);
}

.buttonReset {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
}

.buttonReset:focus {
    outline: 0;
}

.site-logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s var(--bezier);
}
